doctype html
html(lang="en")
  head
    //- Metadata and favicon
    meta(charset="utf-8")
    //- Pulled from https://sf.gov/
    link(rel="shortcut icon", href="images/favicon.ico" type="image/vnd.microsoft.icon")

    //- CSS
    link(rel="stylesheet", href="css/index.css")
    //- https://getbootstrap.com/docs/4.3/getting-started/download/
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")

    //- JS
    script(src="js/index.js")

    title SF MOHCD affordable rental analysis
  body
    .container
      h1
        = "SF "
        abbr(title="Mayor's Office of Housing and Community Development") MOHCD
        = " affordable rental analysis"
      p
        | This webpage presents an analysis of the data from SF's MOHCD's dataset on affordable housing
        br
        = "The original dataset can be found on "
        a(href="https://data.sfgov.org/Housing-and-Buildings/Mayor-s-Office-of-Housing-and-Community-Developmen/9rdx-httc") DataSF's website
      p#dynamic-content Loading content...

      //- Define a common footer
      hr
      p.text-center
        = "Made with "
        span(aria-label="love")= "<3"
        = " by "
        a(href="https://github.com/twolfson/sf-digital-services-assignment") Todd Wolfson
        = " under the "
        a(href="https://github.com/twolfson/sf-digital-services-assignment/blob/master/LICENSE") Creative Common Zero License
        br
        span.text-muted
          = "Hosted by "
          a(href="https://pages.github.com/") GitHub Pages
      p.text-center
        a.text-muted(href="https://github.com/twolfson/sf-digital-services-assignment/tree/" + encodeURIComponent(pkg.version))
          = "Version " + pkg.version
